@charset "UTF-8";
/* root */
:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --font-size: 0.9375rem;
  --font-family: "Overpass", sans-serif;
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

button {
  font: inherit;
}

/* buttons */
button[class^=btn] {
  border: none;
  border-radius: 100vmax;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  outline: none;
  padding-top: 0.125em;
  transition: 0.3s ease-in;
}
@media (min-width: 48em) {
  button[class^=btn] {
    font-size: 0.938rem;
  }
}

button:disabled {
  cursor: auto;
  opacity: 0.5;
}
button:disabled:is(:focus, :hover) {
  background-color: var(--orange);
  color: var(--white);
}

.btn-rating {
  aspect-ratio: 1;
  background-color: var(--dark-blue);
  color: var(--medium-grey);
  width: 2.75rem;
}
.btn-rating:is(:focus, :hover) {
  background-color: var(--orange);
  color: var(--white);
}
.btn-rating.active {
  background-color: var(--medium-grey);
  color: var(--white);
}
@media (min-width: 48em) {
  .btn-rating {
    width: 3.25rem;
  }
}

.btn-submit {
  background-color: var(--orange);
  color: var(--white);
  height: 2.75rem;
  letter-spacing: 0.125rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.btn-submit:is(:focus, :hover) {
  background-color: var(--white);
  color: var(--orange);
}
@media (min-width: 48em) {
  .btn-submit {
    margin-bottom: 0;
  }
}

/* cards */
.card {
  background: linear-gradient(-150deg, hsl(213deg, 19%, 18%), hsl(215deg, 27%, 12%));
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 20.313rem;
}
@media (min-width: 48em) {
  .card {
    border-radius: 1.75rem;
    padding: 2rem;
    width: 25.938rem;
  }
}

.card-title {
  color: var(--white);
  font-size: 1.45rem;
}
@media (min-width: 768px) {
  .card-title {
    font-size: 1.75rem;
  }
}

.card-description {
  color: var(--medium-grey);
  font-size: 0.875rem;
  margin: 0.5rem auto 1rem;
}
@media (min-width: 48em) {
  .card-description {
    font-size: 0.9375rem;
  }
}

.card-subtitle {
  background-color: hsl(213deg, 19%, 18%);
  border-radius: 100vmax;
  color: hsl(25deg, 67%, 53%);
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  padding: 0.35rem 0.75rem 0.25rem;
}
@media (min-width: 48em) {
  .card-subtitle {
    font-size: 0.9375rem;
    padding: 0.35rem 1rem 0.25rem;
  }
}

/* footer */
.footer-frontend-mentor {
  align-items: center;
  border-top: 0.063rem solid white;
  color: var(--medium-grey);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
.footer-frontend-mentor :is(a, p) {
  font-size: 0.875rem;
}
.footer-frontend-mentor a,
.footer-frontend-mentor a:is(:visited, :active) {
  color: var(--white);
  text-decoration: none;
}
.footer-frontend-mentor a:is(:focus, :hover) {
  color: var(--orange);
}
@media (min-width: 48em) {
  .footer-frontend-mentor {
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
  }
  .footer-frontend-mentor :is(a, p) {
    font-size: 0.938rem;
  }
}

.challenge-by {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  line-height: 1;
}
.challenge-by svg {
  aspect-ratio: 7/1;
  fill: currentColor;
  height: 1.2rem;
  margin-top: 0.45rem;
}
@media (min-width: 48em) {
  .challenge-by::after {
    content: "•";
  }
  .challenge-by svg {
    height: 1.25rem;
  }
}

.coded-by {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
@media (min-width: 48em) {
  .coded-by::after {
    content: "•";
  }
}

.social-media {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  line-height: 1;
}
.social-media svg {
  aspect-ratio: 1;
  fill: white;
  width: 1.25rem;
}
.social-media svg:is(:focus, :hover) {
  fill: var(--orange);
}
@media (min-width: 48em) {
  .social-media {
    gap: 0.5rem;
  }
  .social-media svg {
    width: 1rem;
  }
}

/* icon-star */
.icon-star {
  align-items: center;
  aspect-ratio: 1;
  background: linear-gradient(-150deg, hsl(213deg, 19%, 20%), hsl(213deg, 19%, 16%));
  border-radius: 100vmax;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 2.75rem;
}
.icon-star svg {
  fill: var(--orange);
  height: 1rem;
  width: 1.0625rem;
}
@media (min-width: 768px) {
  .icon-star {
    margin-bottom: 1.75rem;
    width: 3.25rem;
  }
  .icon-star svg {
    height: 1.125rem;
    width: 1.25rem;
  }
}

/* img-thank-you */
.img-thank-you {
  aspect-ratio: 3/2;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 148px;
}
@media (min-width: 48em) {
  .img-thank-you {
    margin-bottom: 2rem;
    width: 168px;
  }
}

/* rating list */
.rating-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
@media (min-width: 48em) {
  .rating-list {
    margin-bottom: 1.75rem;
    margin-top: 0.75rem;
  }
}

/* utilities */
.center {
  align-items: center;
  text-align: center;
}

.hidden {
  display: none;
}

@media (min-width: 48em) {
  .padding-thank-you {
    padding: 2.25rem;
  }
}
/*# sourceMappingURL=style.css.map */